<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
    <title>Basketball Team</title>
  </head>
  <body>
    <% @params.each do |k,v| %>
    <h2><%= k: v %></h2>
    <% end %


  </body>
</html>
